@inherits NoteBase

@if (this.Data.GroupId == null) {
    <VoteList Note="@this.Data"/>
}

<div class="box note @(this.Container?.IsGroupingAllowed() == true ? "draggable" : "") @(this.CanView() ? "" : "note--blurred") @(this.CanEdit() ? "note--editable" : "")" 
     data-id="@this.Data.Id"
     data-test-element-id="note"
     draggable="@(this.Container?.IsGroupingAllowed() == true ? "true" : null)"
     @ondragstart="@(() => HandleDragStart(this.Data))"
     @ondragend="@(() => HandleDragEnd())"
     style="background-color: #@this.Data.ParticipantColor.HexString">
    @if (this.CanEdit())
    {
        @if (this.ShowErrorMessage)
        {
            <p class="has-text-warning has-text-centered">Couldn't save, please try again!</p>
        }

        @if (this.RetrospectiveStatus.IsDeletingNotesAllowed) {
            <div class="note__delete-icon"
                 data-keypress-handler="CTRL+Delete" title="You can also press CTRL+Delete when you have the textarea in focus"
                 data-keypress-handler-id="note-@this.Data.Id"
                 @onclick="@this.Delete">
                <i class="fas fa-trash"></i>
            </div>
        }

        <textarea class="textarea note__content is-small has-fixed-size"
                  data-keypress-handler-id="note-@this.Data.Id"
                  rows="1"
                  placeholder="Enter your text here" 
                  @bind-value="@TextData" 
                  @bind-value:event="oninput"
                  @ref="this.TextBoxReference"></textarea>
    }
    else
    {
        <p class="note__content">
            @Data.Text
        </p>
    }
</div>