@using Return.Application.Common.Models
@inherits NoteGroupBase

<div class="box dropzone"
     ondragover="event.preventDefault();"
     @ondrop="@HandleDrop"
     @ondragenter="@HandleDragEnter"
     @ondragleave="@HandleDragLeave">
    @if (this.CanEdit)
    {
        <div class="field has-addons" style="width: 100%">
            <div class="control is-expanded">
                <input class="input note-group__title-input has-text-centered @(this.ShowError ? "is-danger" : (this.ShowWarning ? "is-warning" : null))" 
                       type="text" 
                       placeholder="Enter a title for the group" 
                       @bind="@this.DataTitle" />
            </div>
            <div class="control">
                <button class="button is-danger is-outlined" @onclick="@DeleteNoteGroup">
                    <i class="fas fa-trash is-danger"></i>
                </button>
            </div>
        </div>

    }
    else
    {
        <h4 class="title has-text-centered is-size-5">@this.Data.Title</h4>
    }

    @foreach (RetrospectiveNote note in this.Data.Notes)
    {
        <Note @key="note.Id" Data="@note" />
    }

    @if (this.Data.Notes.Count == 0)
    {
        <div class="box">
            <p>
                This group is empty.
                @if (this.CanEdit)
                {
                    <text>Drag-and-drop notes here to add them to this group!</text>
                }
            </p>
        </div>
    }
</div>
