@inherits NoteBase

<div class="box draggable @(this.CanView() ? "" : "box--blurred")" 
     draggable="@(this.Container.IsGroupingAllowed() ? "true" : null)"
     @ondragstart="@(() => HandleDragStart(this.Data))"
     style="background-color: #@this.Data.ParticipantColor.HexString">
    @if (this.CanEdit())
    {
        @if (this.ShowErrorMessage)
        {
            <p class="has-text-warning has-text-centered">Couldn't save, please try again!</p>
        }

        <textarea class="textarea box__content is-small has-fixed-size"
                  rows="2"
                  placeholder="Enter your text here" 
                  @bind-value="@TextData" 
                  @bind-value:event="oninput"></textarea>
    }
    else
    {
        <p class="box__content">
            @Data.Text
        </p>
    }
</div>