@page "/retrospective/{retroId}/join"
@implements Return.Application.Notifications.RetrospectiveJoined.IRetrospectiveJoinedSubscriber
@inherits SubscribingComponent<Return.Application.Notifications.RetrospectiveJoined.IRetrospectiveJoinedSubscriber>
@layout RetrospectiveLayout
@inject ILogger<JoinRetrospective> Logger
@inject NavigationManager NavigationManager;
@using Microsoft.Extensions.Logging
@using Return.Application.Notifications
@using Return.Application.PredefinedParticipantColors.Queries.GetAvailablePredefinedParticipantColors
@using Return.Application.Retrospectives.Commands.JoinRetrospective
@using Return.Application.Retrospectives.Queries.GetJoinRetrospectiveInfo
@using Return.Application.Retrospectives.Queries.GetParticipant
@using Return.Application.Retrospectives.Queries.GetParticipantsInfo
@using Return.Web.Components.Layout

@if (this.RetrospectiveInfo == null)
{
    <h1 class="title">Retrospective not found</h1>

    <p class="form-explanation">
        Sorry, I can't find that retrospective. Please check if the URL is correct.
    </p>
}
else
{
    <h1 class="title">Join retrospective: @this.RetrospectiveInfo.Title</h1>
    <h2 class="subtitle">A safe space to reflect on the past sprint</h2>

    <div class="columns">
        <div class="column is-three-quarters">
            <p class="form-explanation">
                Join the retrospective "@this.RetrospectiveInfo.Title" by filling in the necessary information on the form below.
            </p>

            @if (this.RetrospectiveInfo.IsFinished)
            {
                <Notification Type="Notification.NotificationType.Warning">
                    This retrospective has already finished. You can log in and view the past results but you won't be able to participate anymore.
                </Notification>
            }
            else if (this.RetrospectiveInfo.IsStarted)
            {
                <Notification Type="Notification.NotificationType.Info">
                    This retrospective has already started. Hurry up!
                </Notification>
            }

            @if (ShowErrorMessage)
            {
                <ErrorMessage Text="Something went wrong joining the retrospective. Please try again." />
            }

            <EditForm Model="@Model" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <Blazored.FluentValidation.FluentValidationValidator />

                <div class="field">
                    <label class="label" for="retro-name">Your name</label>
                    <div class="control">
                        <InputText id="retro-name"
                                   class="input"
                                   type="text"
                                   @bind-Value="@Model.Name"
                                   @onblur="@OnParticipantNameChanged"
                                   placeholder="Enter your name, so we know who you are" />
                    </div>

                    <ValidationMessage For="() => Model.Name"></ValidationMessage>
                    @if (this.ShowParticipantAlreadyJoinedWarning)
                    {
                        <p class="help is-info">@Model.Name has already joined the retrospective. If this was not you, please choose a different name.</p>
                    }
                </div>

                @if (UseOwnColor || this.AvailablePredefinedColors.Count == 0)
                {
                    <div class="field">
                        <label class="label" for="retro-color">Your custom color</label>
                        <div class="control">
                            <InputText id="retro-color" type="color" class="input input--retro-color" @bind-Value="@Model.Color" disabled="@(this.ShowParticipantAlreadyJoinedWarning ? "disabled" : null)" />
                        </div>

                        <ValidationMessage For="() => Model.Color"></ValidationMessage>
                    </div>
                }
                else
                {
                    <div class="field">
                        <label class="label">Your color</label>
                        <div class="control">
                            <div class="field has-addons">
                                <div class="control">
                                    <div class="select">
                                        <InputSelect @bind-Value="@Model.Color" id="retro-color-choices">
                                            <option value="">Select an option</option>
                                            @foreach (AvailableParticipantColorModel color in this.AvailablePredefinedColors)
                                                    {
                                                <option style="color: #@color.HexString" value="#@color.HexString">@color.Name</option>
                                                    }
                                            /**/
                                            /**/
                                            /**/
                                            /**/
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="control">
                                    <button type="button" class="button is-info" @onclick="@ChooseOwnColor">
                                        Custom color
                                    </button>
                                </div>
                            </div>
                        </div>

                        <ValidationMessage For="() => Model.Color"></ValidationMessage>
                    </div>
                }

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <InputCheckbox @bind-Value="@Model.JoiningAsFacilitator" id="retro-is-facilitator" disabled="@(this.ShowParticipantAlreadyJoinedWarning ? "disabled" : null)" />
                            I'm the facilitator of this retrospective
                        </label>
                    </div>
                </div>

                @if (Model.JoiningAsFacilitator)
                {
                    <div class="field">
                        <label class="label" for="retro-facilitator-passphrase">Facilitator passphrase</label>
                        <div class="control">
                            <InputText id="retro-facilitator-passphrase" class="input" type="text" @bind-Value="@Model.Passphrase" placeholder="" />
                        </div>

                        <ValidationMessage For="() => Model.Passphrase"></ValidationMessage>
                        <p class="help">You should have set this password yourself. If you've lost it, create a new retrospective instead.</p>
                    </div>
                }
                else if (this.RetrospectiveInfo.NeedsParticipantPassphrase)
                {
                    <div class="field">
                        <label class="label" for="retro-passphrase">Passphrase</label>
                        <div class="control">
                            <InputText id="retro-passphrase" class="input" type="text" @bind-Value="@Model.Passphrase" placeholder="" />
                        </div>

                        <ValidationMessage For="() => Model.Passphrase"></ValidationMessage>
                        <p class="help">You should have got this in the invitation.</p>
                    </div>
                }

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" id="join-retro-button">
                            <span class="icon is-small"><i class="fas fa-door-open"></i></span>
                            <span>Continue</span>
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>

        <div class="column">
            <RetrospectiveOnlineList RetroId="@this.RetroId" />
        </div>
    </div>
}


@code
{
#nullable disable
    [Parameter]
    public string RetroId { get; set; }

    private JoinRetrospectiveInfo RetrospectiveInfo { get; set; }
    private IList<AvailableParticipantColorModel> AvailablePredefinedColors { get; set; }
    private bool ShowErrorMessage { get; set; }
    private bool ShowParticipantAlreadyJoinedWarning { get; set; }

    [Parameter]
    public JoinRetrospectiveCommand Model { get; set; } = new JoinRetrospectiveCommand();

    [Parameter]
    public bool UseOwnColor { get; set; }

    [CascadingParameter]
    public IRetrospectiveLayout Layout { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.RetrospectiveInfo = await this.Mediator.Send(new GetJoinRetrospectiveInfoQuery { RetroId = this.RetroId });

        if (this.RetrospectiveInfo != null)
        {
            this.Layout?.Update(new RetrospectiveLayoutInfo(this.RetrospectiveInfo.Title));
            this.AvailablePredefinedColors = await this.Mediator.Send(new GetAvailablePredefinedParticipantColorsQuery(this.RetroId));
        }
        else
        {
            this.Layout?.Update(new RetrospectiveLayoutInfo("Not found"));
        }
    }

    protected override void OnParametersSet()
    {
        this.Model.RetroId = this.RetroId;
    }

    private void ChooseOwnColor()
    {
        this.UseOwnColor = true;
    }

    private async Task OnParticipantNameChanged()
    {
        if (String.IsNullOrEmpty(this.Model.Name))
        {
            return;
        }

        bool wasShowingParticipantWarning = this.ShowParticipantAlreadyJoinedWarning;

        ParticipantInfo result = await this.Mediator.Send(new GetParticipantQuery(this.Model.Name, this.RetroId));
        this.ShowParticipantAlreadyJoinedWarning = result != null;

        if (result != null)
        {
            // Disable controls as the choice has already been made
            this.Model.JoiningAsFacilitator = result.IsFacilitator;
            this.UseOwnColor = this.AvailablePredefinedColors.Any(x => x.HasSameColors(result.Color)) == false;
            this.Model.Color = "#" + result.Color.HexString;
        }
        else if (wasShowingParticipantWarning)
        {
            // Reset form to use normal controls
            this.UseOwnColor = false;
            this.Model.Color = null;
            this.Model.JoiningAsFacilitator = false;
        }
    }

    private async Task HandleValidSubmit()
    {
        this.ShowErrorMessage = false;

        try
        {
            this.Model.Color = this.Model.Color?.TrimStart('#');
            this.Model.Color = this.Model.Color?.Length != 6 ? "CCCCCC" : this.Model.Color;

            await this.Mediator.Send(this.Model);
        }
        catch (Exception ex)
        {
            this.ShowErrorMessage = true;

            Logger.LogError(ex, $"Error joining retrospective {this.RetroId} with name {this.Model.Name}");
            return;
        }

        this.NavigationManager.NavigateTo("retrospective/" + this.RetroId + "/lobby");
    }

    private void HandleInvalidSubmit()
    {
        this.ShowErrorMessage = false;
    }

    public Task OnParticipantJoinedRetrospective(RetrospectiveEvent<ParticipantInfo> eventArgs)
    {
        if (eventArgs.RetroId != this.RetroId)
        {
            return Task.CompletedTask;
        }

        return this.InvokeAsync(async () =>
        {
            this.AvailablePredefinedColors = await this.Mediator.Send(new GetAvailablePredefinedParticipantColorsQuery(this.RetroId));

            this.NotificationIsHandled();
        });
    }
}
